* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    text-align: center;
}

button {
    padding: 0 2ch;
    font-size: inherit;
    border: 1px solid black;
    border-radius: 4px;
    background-color: lightgray;
    color: black;
}

button:hover {
    background-color: darkgray;
    color: white;
}

input, p {
    margin: 0 auto;
}

input {
    text-align: center;
    width: 30ch;
    font-size: inherit;
}

input[type="radio"] {
    width: 5ch;
}

textarea {
    text-align: center;
    align-content: center;
    field-sizing: content; 
    font-size: inherit;
    min-width: 30ch;
    max-width: 70ch;
    min-height: 2lh;
    max-height: 6lh;
}

.container {
    padding: 4ch 0 4ch;
    width: 100ch;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.divKeysNButtons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.divKeysNButtons legend, .divKeysNButtons label {
    padding: 1ch 0;
}

.divSeeds {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    width: 70ch;
}

.flexSeed {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.flexButtons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 70ch;
}

.hidden {
    display: none;
}

#instrubtn {
    width: 20ch;
}

#mode {
    accent-color: black;
}

#symCipherImg {
    max-width: 70ch;
}
