* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 1rem;
}

fieldset {
    border-style: none;
}

input {
    text-align: center;
    color: #000;
    border-color: rgba(212, 175, 55, 1);
}

input[type="radio"] {
    accent-color: black;
}

input[type="radio"]:hover {
    accent-color: rgba(212, 175, 55, 1);
}

textarea {
    text-align: center;
    align-content: center;
    min-height: 2lh;
    max-height: 6lh;
    color: #000;
    border-color: rgba(212, 175, 55, 1);
}

.btn-custom-gold {
    color: #000;
    background-color: rgba(212, 175, 55, 1);
    border-color: rgba(212, 175, 55, 1);
}

.btn-custom-gold:hover {
    color: rgba(212, 175, 55, 1);
    border-color: rgba(212, 175, 55, 1);
    background-color: #000;
}

.btn-custom-gold:focus, .btn-custom-gold:focus-visible {
    box-shadow: 0 0 0 0.25rem rgba(212, 175, 55, 0.5);
}

.btn-custom-gold:active {
    transform: scale(0.95);
    transition-duration: 1s;
}

.dark-theme {
    background-color: #000;
    color: #fff;
}

.light-theme {
    background-color: #fff;
    color: #000;  
}

.field-sizing-content {
    field-sizing: content;
}

.fs-inherit {
    font-size: inherit !important;
}

.hidden {
    display: none;
}

#mode {
    accent-color: black;
}

#mode:hover {
    accent-color: rgba(212, 175, 55, 1);
}
